[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/kshmr1337/nvim
[submodule ".icons/cyberpunk-technotronic"]
	path = .icons/cyberpunk-technotronic
	url = https://github.com/dreifacherspass/cyberpunk-technotronic-icon-theme
