[SddmGreeterTheme]
Name=ultraviolence
Description=ultraviolence
Author=kshmr
License=GPLv3
Type=sddm-theme
Version=0.1
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=ultraviolence
Theme-API=2.0
